/* Tour.css */
.tour-container {
    text-align: center;
    margin: 20px;
  }
  
  .tour-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .tour-table th, .tour-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tour-table th {
    background-color: #f2f2f2;
  }
  
/* Tour.css */
a {
    text-decoration: none;
    color: inherit; /* Optional: Inherit the color from the parent */
  }
  
  /* Add any additional styling for links if needed */
  